<div class="container">
  <h1>Angular Companents</h1>

  <h2>SubTitle</h2>

  <app-post-form></app-post-form>

  <hr>

  <!-- dataObjInPosts - объект в массиве posts {title: 'Хочу выучить ', text: 'Я все еще', id: 1} -->
  <!-- [post]  - под именем [post] мы передаем переменную равную dataObjInPosts ({title: 'Хочу выучить)  в дочерний компонент -->
  <app-post *ngFor="let dataObjInPosts of posts" [post]="dataObjInPosts">

    <div #info>
      <!-- внутри компонента задем условие -->
      <small *ngIf="dataObjInPosts.text.length>10; else short">Post long</small>
      <ng-template #short>
        <small>Post short</small>
      </ng-template>
    </div>


  </app-post>

</div>
