<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">

    <h1>Angular Forms</h1>
    <pre>{{form.get('email').errors |json}}</pre>
    <div>объект </div>
    <pre>{{form.get('email').invalid |json}}</pre>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div class="validation">
        <small *ngIf="form.get('email').errors['required']">

          required
        </small>
        <small *ngIf="form.get('email').errors['email']">

          Correct email
        </small>
      </div>
    </div>

    <button type="submite">Отправить</button>
  </form>
</div>
