



<div *ngIf="true">This will be added to the DOM</div>
<div *ngIf="false">This will be removed from the DOM</div>


<div [ngStyle]="{color: 5 < 10 ? 'green' ? 'red' }">
  Some text
</div>



<div>
  <img
  width="40"
  alt="Angular Logo"
  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
/>
<span>Hellow world</span>

<hr>
<p>{{title}}</p>
<p>{{number*2}}</p>
<p>{{arr}}</p>
<p>{{obj}}</p>
<p>{{obj.a}}</p>
<p>{{40+2}}</p>
<p>{{ "Hello" }}</p>
<!-- <p>{{Hello}}</p> //Error -->
</div>
<app-post></app-post>
<hr>
<app-post4></app-post4>

<hr>
<img [src]="img" alt="">

<hr>
<!-- <input type="text" (input)="onInput($event)"> -->
<!-- <input type="text" (keyup)="onInput($event)"> -->
<!-- <input type="text" (input)="onInput($event)" (keyup.enter)="onInput($event)"> -->
<input
  type="text"
  (keyup)="onInput($event)"
  (blur)="onBlur(myInput.value)"
  #myInput
>

<p><strong>{{inputValue}}</strong></p>


<button (click)="onClick()">Click me!</button>

<hr>

<!-- <input type="text" [value]="val" (input)="inputTest($event)"> -->
<input type="text" [(ngModel)]="val">
<p>{{val}}</p>

<hr>

<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>

<div [ngStyle]="{
  width: '20px',
  height: '20px',
  borderRadius: '5px',
  border: '1px solid #ccc',
  background: backgroundToggle ? 'red' : 'blue'

}"></div>

<hr>

<!-- <p [ngClass]="{
  red: backgroundToggle,
  blue: !backgroundToggle
}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quod quos, inventore nesciunt distinctio vero. Quae temporibus odio dicta quos distinctio explicabo voluptas natus velit iste! Laborum expedita ab aliquam?</p> -->

<p
[class.blue]="!backgroundToggle"
[class.red] ="backgroundToggle"
>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos totam quae assumenda. Aliquid ipsam, obcaecati impedit quis, sed, aut quas itaque facere commodi voluptas rerum velit. Voluptatum saepe officiis cum.</p>

<hr>

<button (click)="toggle=!toggle">Toggle</button>

<!-- **********  ngIf  ************* -->
<!-- <p *ngIf="toggle" class="red">Lorem ipsum dolor</p>
<p *ngIf="!toggle" class="blue">Lorem ipsum dolor</p> -->

<!-- **********  ngIf  else ************* -->
<!-- <p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor</p>

<ng-template #blueP>
  <p *ngIf="!toggle" class="blue">Lorem ipsum dolor</p>
</ng-template> -->

<!-- **********  ngSwitch ************* -->

<div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem ipsum </p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum</p>
  <p *ngSwitchDefault>Lorem ipsum</p>

</div>

<hr>

<!-- <ul>
  <li *ngFor="let number of arrNumber; let i = index"> -->
    <!-- какая длина массива столько элементов li и будет -->
    <!-- let i = index делаем если нужнен индекс, index- ключевое слово -->
    <!-- {{i + 1}} для того чтобы начиналось с 1 -->
    <!-- {{i + 1}}<strong>{{number}}</strong>
  </li>
</ul> -->

<ul style="list-style: none">
  <li *ngFor="let post of objs">
    <p>{{post.title}}</p>
    <b>{{post.author}}</b>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>{{comment.name}}</small>
          <p>{{comment.text}}</p>
        </div>
      </li>
    </ul>

  </li>
</ul>

<hr>

<p>
  {{now | date}}
  {{now | date: 'long' | uppercase}}
</p>

<div *ngIf="true">This will be added to the DOM</div>
<div *ngIf="false">This will be removed from the DOM</div>
